@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161f3b;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* -------------------------------------------- */

.container {
    height: 80vh;
    width: 80vw;
    background: #242e4c;
    border-radius: 5px;
    padding: 3rem 7rem;
    position: relative;
    box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
    margin: auto;
    /* width: 1000px; */
}

.btn { 
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    background: #242e4c;
    border: 2px solid #1D2545;
    border-radius: 3px;
    color: #546484;
}

.btn-light { color: #f2f2f2;}
.btn-primary { color: #fd6c9d;
    border: none;}

/* -------------------------------------------- */

/* Search */
.logo {
    margin-bottom: 1.5rem;
}

.search-container {
    display: inline-block;
    width: 300px;
    background: #242e4c;
    border: 2px solid #1D2545;
    border-radius: 3px;
    color: #546484;
    padding: 0.25rem;
}

.search-container button,
.search-container input {
    background: #242e4c;
    color: #546484;
    border: none;
}
/* ***************** */
.search-container input:focus {
    padding: 0.5rem;
}

.search-container input::placeholder {
    color: #546484;
}
/* ********************** */
.search-container + button {
    display: inline-block;
    margin-left: 500px;
}

/* Table */
table {
     width: 100%;
     margin: 1.5rem auto;
     color: #f2f2f2;
     border-radius: 5px;
     text-align: left;
     padding: 10px;
}

table tr:hover {
    background: #151f3a;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

th,td { 
    font-weight: normal;
    padding: 0.75rem;
}

table tbody tr {
    background:  #1c223b;
}

/* Rounding the border radius */

table tbody tr td:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table tbody tr td:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}



/* ------------------------------------------- */
 /* Pink Plus Button */

.btn-primary {
    margin-left: 96%;
}

/* -------------------------------------------- */

/* coloring */

td i { padding: 5px; font-size: 0.5rem; margin: auto;}

table tbody tr.salmon td:first-of-type { border-left: 5px solid salmon; }

table tbody tr.green td:first-of-type { border-left: 5px solid #00FA9A; }

table tbody tr.blue td:first-of-type { border-left: 5px solid 	#1E90FF; }


table tbody tr.salmon td:nth-of-type(3) i { color:  salmon; }

table tbody tr.green td:nth-of-type(3) i { color:  #00FA9A; }

table tbody tr.blue td:nth-of-type(3) i { color:  	#1E90FF; }


/* ----------------------------------------------------- */

.delete {
    cursor: pointer;
    /* background: #242e4c; */
    border: 0;
    color: #242e4c;;
    opacity: 0;
}

@media(max-width: 768px) {
    .container {
        padding: 20px;
    }

    table th:nth-of-type(3),
    table td:nth-of-type(3) {
        display: none;
    }
}


